@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: white;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.3rem 2.5rem;
  border-radius: .3rem;
}

.container h1 {
  text-align: center;
  margin-bottom: .9rem;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  padding: .9rem;
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  border-radius: .3rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: .8rem;
}

.form-control {
  position: relative;
  margin: 1.4rem 0 2.5rem;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #FFF solid;
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.1rem;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.2rem;
  min-width: .5rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid _ label span {
  color: lightblue;
  letter-spacing: .2rem;
  transform: translateY(-2.2rem);
}